html, body
{
	margin: 0px;
	padding: 0px;
}

body
{
	background: url("../img/imgfundo.jpg") no-repeat center center fixed; 
	background-size: cover; 
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px){
	background: url("../img/imgfundo.jpg") no-repeat; 
	background-size: cover; 
}
