html, body
{
	margin: 0px;
	padding: 0px;
}

body
{
	background: url("../img/imgfundo.jpg") no-repeat center center fixed; 
	background-size: cover; 
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 767px)
{
	body
	{
	   background-size: auto; 
           background-attachment: scroll;
	}
}


/*
@media (max-width: 767px)
{
	body
	{
	   background: url("../img/imgfundo.jpg") no-repeat; 
           background-size: cover; 
           background-attachment: fixed;
	}
}
*/
